<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("Scripts/ClientScripts/http-requester.js")
    @Scripts.Render("Scripts/ClientScripts/class.js")
    @Scripts.Render("Scripts/ClientScripts/ui.js")
    @Scripts.Render("Scripts/ClientScripts/persister.js")
    @Scripts.Render("Scripts/ClientScripts/controller.js")
</head>
<body>
    @RenderBody()

    
    @RenderSection("scripts", required: false)
</body>
</html>
